*{
    margin:0px;
    font-family:'Lucida Grande','Lucida Sans Unicode','GNU Unifont',Verdana,Helvetica,sans-serif;
    text-align:center;
}

h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#990000;
    margin: 1em;
}

h2{
    padding-bottom:.5em;
}

p{
    padding: 10px;
}

.gameText
{
    display:inline-block;
}
.blank, #correctBlank, #incorrectBlank
{
    display:inline;
    color:#990000;
}

.popupText
{
    display:inline;
}

.scoreCount
{
    display:inline;
}


#goButton {
    font-size: 100%;
    width: 4em;
    padding:.2em .7em .2em .7em;
    margin:.4em;
}

#closeButton{
    font-size: 100%;
    width: 4em;
    padding:.2em .7em .2em .7em;
    margin:.4em;
}

#filterBttnWrap{
    text-align: right;
}

#filterButton
{
    font-size: 100%;
    width: 4em;
    padding:.2em .7em .2em .7em;
    margin:.4em;
}

#filter
{
    position:absolute;
    top:1em;
    right:1em;
    border: 2px solid #ccc;
    background: #eaeaea;
    box-shadow: inset 1px 0 5px #999;
   display:"none"; 
}


button{
    background: #eee;
    color: #444;
    font-size: 150%;
    padding: .25em .75em .25em .75em;
    border: 1px solid #bbb;
    border-bottom: 1px solid #aaa;
    border-radius: .25em;
    box-shadow: none;
    margin:.3em;
    text-decoration: none;
    display:inline-block;
    width:10em;
    background-image: linear-gradient(#fff 2%,#ddd 95%,#bbb 100%);
    text-align:center;
    cursor:pointer;
}


#mainBox{
    border: 2px solid #ccc;
    margin-top: 3em;
    margin-bottom:3em;
    margin-left:3.5em;
    margin-right:3.5em;;
    padding:1em;
    background: #eaeaea;
    box-shadow: inset 1px 0 5px #999;
}


.subheading{
    padding-top:.5em;;
    margin:.3em 0em .3em 0em;
    font-size:3.5em
}

#homeSubtitle{
    margin:0em 0em 1em 0em;
}

#playSubheading{
    padding-top:0;
    font-size:36px;
}

.popup{
    position:absolute;
    top:3em;
    right:3.5em;
    left:3.5em;
    border: 2px solid #ccc;
    background: #eaeaea;
    box-shadow: inset 1px 0 5px #999;
    display:none;     
}

.popupWrap
{
    text-align:center;
}

#incorrectHigher, #incorrectLower
{
    padding-top:1em;
    padding-bottom:4em;
}

#correct
{
    top:13em;
    right:25em;
    left:25em;
    padding:3em;
}

#gameOver
{
    padding-left:1em;
    padding-right:1em;
    color:black;
}

#filterBttnWrap{
    text-align: right;
    padding:none;
    
 }

 #checkboxes
 {
     text-align:left;
 }

 #filter
 {
     padding:1em;
     position:absolute;
    top:3em;
    right:4em;
 }





/*computer*/
@media only screen and (min-width: 1000px) {


    #disclaimer{
        width: 100%;
        margin:0;
        display:block;
        background-color: #990000;
        color: white;
        text-align: center;
        position: absolute;
        bottom: 0;
        padding:.7rem;
    }

    h2{
        padding-bottom:1.5em;
    }

    p{
        margin:2em;
    }


    #mainBox{
        margin-left:25%;
        margin-right:25%;
    }

    #incorrectHigher, #incorrectLower
    {
        padding-top:3.5em;
        padding-bottom:3.5em;
        right:20em;
        left:20em;
        top:5%;
    }

 

}

/*in betweem, ipad goes here */
@media only screen and (max-width: 1000px) 
{

    #correct
    {
        left:2em;
        right:2em;
    }
}

/*mobile*/
/*@media only screen and (max-width: 767) 
{
    button
    {
        padding: .30em .80em .39em .80em;
        border-radius: .25em;
        margin:.3em;
    }
    
    .subheading
    {
        padding-top:.5em;;
        margin:0em 0em .3em 0em;
        font-size:3.5em
    }
    
    #homeSubtitle
    {
        margin:0em 0em 1em 0em;
    }

    #mainBox
    {
        padding:.5em;
    }

    #incorrectHigher, #incorrectLower
    {
        right:0%
    }

    #correct
    {
        left:2em;
        right:2em;
    }


}
*/

/*very small mobile*/
@media only screen and (max-width: 500px) 
{
    button
    {
        padding: .30em .80em .39em .80em;
        border-radius: .25em;
        margin:.3em;
    }
    
    .subheading
    {
        padding-top:.5em;;
        margin:0em 0em .3em 0em;
        font-size:3.5em
    }
    
    #homeSubtitle
    {
        margin:0em 0em 1em 0em;
    }

    #mainBox{

    margin-left:8%;
    margin-right:8%;
    }

    #correct, #incorrectLower, #incorrectHigher
    {
        left:1em;
        right:1em;
    }


}
